/* bold text */
* {
	font-weight:700 !important;
}
a,a * {
	font-weight:700 !important;
}
a: visited,a: visited *,a: active,a: active * {
	font-weight:700 !important;
}
a: hover,a: hover * {
	font-weight:700 !important;
}
input,select,option,button,textarea {
	font-weight:700 !important;
}
input: focus,select: focus,option: focus,button: focus,textarea: focus,input: hover,select: hover,option: hover,button: hover,textarea: hover {
	font-weight:700 !important;
}
input[type=button]: focus,input[type=submit]: focus,input[type=reset]: focus,input[type=image]: focus, input[type=button]: hover,input[type=submit]: hover,input[type=reset]: hover,input[type=image]: hover {
	font-weight:700 !important;
}
